<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoMNdWVjSbtpx-QWsi6_pfSK9k6lRv1GU</string>
	<key>GCM_SENDER_ID</key>
	<string>823492708268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pamela.CountriesAndStates</string>
	<key>PROJECT_ID</key>
	<string>countriesandstates-594df</string>
	<key>STORAGE_BUCKET</key>
	<string>countriesandstates-594df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823492708268:ios:38eba165d19153e831dc09</string>
</dict>
</plist>